*,
::after,
::before{
    box-sizing: border-box;
}
@font-face {
    font-family: 'corporate a';
    src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
         url('../fonts/Corporate-A-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
body{
    background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
ul{
    list-style: none;
}
.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.header{
    background-color: #070A1B;

}
.header__top{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    background-color: transparent;
}
.list{
    display: flex;
}
.list__item + .list__item{
    margin-left: 30px;

}
.list__link{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background .5s;
}
.list__link:hover{
    background-color: #C1A1D2;
}
.header__content{
    background-image: url(../images/header-bg.png);
    min-height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
   
}
.header__content::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    left: 50%;
    background-image: url(../images/decor.svg);
    transform: translateX(-50%);
    bottom: -25px;
}
.header__logo{
    margin-left: 115px; 
}
.title{
    font-family: 'corporate a';
    font-size: 72px;
    line-height: 120%;
    margin-bottom: 5px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.title__descr{
    font-family: 'corporate a';
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 50px;
}
.concept{
    margin-bottom: 150px;
    padding-top: 150px;
}
.concept__inner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    max-width: 900px;
}
.section__title{
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'corporate a';
    color: #F402A2;
    line-height: 120%;
}
.concept__descr{
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 120%;
}
.premier{
    margin-bottom: 150px;
}
.premier__inner{
    display: flex;
    gap: 60px;
}
.premier__text{
    margin-bottom: 21px;
}
.premier__btn{
    border: 1px solid #F402A2;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'corporate a';
    color: #F402A2;
    line-height: 120%;
    display: block;
    width: 100%;
    text-align: center;
    padding: 14px;
    transition: background .5s;
}
.premier__btn:hover{
    border: 1px solid #53A1CB;
    color: #53A1CB;
}
.premier__img{
    margin-bottom: 20px;
}
.video{
    margin-bottom: 150px;
}
.video__img{
    margin-bottom: 25px;
}
.video__btn{
    border: 1px solid #F402A2;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'corporate a';
    color: #F402A2;
    line-height: 120%;
    display: flex;
    padding: 14px;
    transition: background .5s;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
}
.video__btn:hover{
    border: 1px solid #53A1CB;
    color: #53A1CB;
}
.video__btn path{
    transition: background .5s;
}
.video__btn:hover path{
    fill: #53A1CB;
}
.video__btn span{
    padding-top: 2px;
}
.design__interior{
    display: grid;
    grid-template-columns: 255px 255px auto 330px;
    grid-template-rows: auto auto;
    gap: 14px 44px;
    margin-bottom: 100px;

}
.design__cell-one{
    grid-row: 1/3;
}
.design__cell-two{
    grid-row-end: -1;
    display: flex;
    align-items: flex-end;
}
.design__cell-three{
    grid-row-end: -1;
    grid-column-end: -1;
    margin-top: 15px;
}
.design__cell-text{
    margin-bottom: 15px;
}
.design-slider{
    padding-bottom: 25px;
}
.design-slider__item{
    margin: 0 30px;
    
}
.slick-track{
    margin-left: -30px;
}
.arrow{
    position: absolute;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    left: 50%;
}
.arrow-left{
    transform: translateX(-80px);
}
.arrow-right{
    transform: translateX(30px);
}
.design__box{
    max-width: 590px;
    padding: 0 10px;
    display: flex;
    gap: 60px;
    margin: 150px auto;
}
.design__box-column{
    width: 255px;
}
.design__box-text{
    margin-bottom: 15px;
}
.design__img{
    max-width: 100%;
    display: block;

}



.footer{
    background-color: #070A1B;
}
.footer__inner{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}